<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            {{#if @labs.subscribers}}
                <section class="footer-subscribe">
                    <h4>Subscribe to {{@blog.title}}</h4>
                    <p>Get the latest posts delivered right to your inbox</p>

                    {{subscribe_form placeholder="youremail@example.com"}}
                </section>
            {{/if}}
            <div class="footer-details">
                <a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} <br /> A 501(c)3 nonprofit corporation
                <nav class="footer-social">
                {{#if @blog.facebook}}
                    <a href="{{facebook_url @blog.facebook}}" rel="noopener" target="_blank"><i class="fab fa-facebook"></i></a>
                {{/if}}
                {{#if @blog.twitter}}
                    <a href="{{twitter_url @blog.twitter}}" rel="noopener" target="_blank"><i class="fab fa-twitter"></i></a>
                {{/if}}
                    <a href="http://github.com/gitdatcode" rel="noopener" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="http://instagram.com/designdatcode" rel="noopener" target="_blank"><i class="fab fa-instagram"></i></a>
                </nav>
                <a href="/about">ABOUT US</a> <br />
                <a href="/DatCodeCommunityCodeofConduct.pdf">CODE OF CONDUCT</a>
            </div>
            <div class='footer-credits'>
                <section class="footer-powerby">
                    Published with <a href="https://ghost.org" title="Ghost">Ghost</a></br />
                </section>
            </div>
        </div>
    </div>
</footer>