<nav class="nav-bar">
    <div class="logo">
        <a href="{{@blog.url}}" title="{{@blog.title}}">
                <img alt="{{@blog.title}}" src="{{@blog.logo}}" />
                </a>
    </div>
  <div class="site-nav">
  		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  			<i class="fa fa-bars"></i>
			</a>
      {{navigation}}
  </div>
</nav>
