<nav class="nav-bar">
    <div class="logo">
        <a href="{{@blog.url}}" title="{{@blog.title}}">
                <img alt="{{@blog.title}}" src="{{@blog.logo}}" />
                </a>
    </div>
    <div class="title">DATCODE</div>
    <div class="page-nav">
        {{navigation}}
    </div>
</nav>
