<header class="site-header">
  <a id="logo" href="{{@blog.url}}" title="{{@blog.title}}">
    <img alt="{{@blog.title}}" src="{{@blog.logo}}" />
  </a>
  <nav class="site-nav">
    <a id="menu-icon" href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </a>
    {{navigation}}
  </nav>
</header>
